@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.3.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
    font:400 14px/1.6 "Open Sans",sans-serif;
    font-family: "Raleway",sans-serif;
    vertical-align: middle;
    /*background-image: url("../images/full-background-pdf.jpg");
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;*/
    color: #000;
}

h1, h2, h3, h4, h5, h6 {
    margin: 4px;
    padding: 1px;
    font-weight: bold;
    vertical-align: middle;
}

h1, h2, h3 {
    font-weight: 500;
    margin: 6px;
}

h4, h5, h6 {
  font-weight: 400;
  margin: 4px;
}

.background-header{
  background-image: url("../images/header-pdf.jpg");
  background-repeat: no-repeat;
  height: 118px;
  width: 720px;
}

table {
    border-collapse: collapse;
    vertical-align: middle;
    line-height: 1.42857;
    width:100%;
}

table > tbody > tr > td,
table > tbody > tr > th,
table > tfoot > tr > td,
table tfoot > tr > th,
table > thead > tr > td,
table > thead > tr > th {
    color: #000;
    /*text-align: center;*/
    vertical-align: middle;
    font:200 12px/1.4 "Open Sans",sans-serif;
}

table.report > tbody > tr > td,
table.report > tbody > tr > th,
table.report > tfoot > tr > td,
table.report tfoot > tr > th,
table.report > thead > tr > td,
table.report > thead > tr > th {
    color: #191919;
    /*text-align: center;*/
    vertical-align: middle;
    font:100 10px/1.6 "Open Sans",sans-serif;
    border: 2px solid #4C4C4C;
    text-align: justify;
}

table.report > thead > tr > th,
table.report > thead > tr > td {
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}

table.report > tbody > tr > td.center{
  text-align: center;
}

td.row, tr.row, th.row {
    font:100 10px/1.6 "Open Sans",sans-serif;
    border: 0;
    padding: 3px;
    margin: 1px;
}

.bold{
  font-weight: bold;
}

.font-left{
  text-align: left;
}

tr.border, td.border, th.border, {
  border: 1px solid #54355f;
}

.center-text{
  text-align: center;
}

table > tbody > tr > td,
.justify-text, td.justify-text{
  text-align: justify;;
}

div.image-center img{
	margin-left: auto;
	margin-right: auto;
}

div.image-center{
		min-width: 90%;
}
