.raleway-logo{
	padding-top: 2px;
	height: 100px;
	width: 190px;
}

.form-group.right{
    margin-left: 0;
    margin-right: 0;
}

p.general-error, p.general-success{
	margin: 0 0 1px;
	font-weight: bold;
}

p.invisible{
	display: none;
}

body {
    padding-bottom: 5px;
    padding-top: 5px;
}

.navbar-brand {
	height:118px;
	padding:0px 15px;
}

.navbar-nav {
    margin: 18px 0px 0px -18px;
}

@media (max-width:767px) {

	.navbar-header {
		height:133px;
		border-bottom:0px solid #E0E0E0;
	}
}

.navbar-toggle {
margin-top:40px;
}

.error{
	color: #ff0000;
}

.bold{
	font-weight: bold;
}

body{
	background: #FFF;
}
/*
.navbar-nav, #navbar,.navbar {
	background: #FFF;
	color: #fff;
}*/

h1, h2, h3, h4, h5, h6 {
	color: #34495E;
}

.navbar ul.nav a{
	color: #34495E;
}
.row{
	color: #34495E;
}

select{
	color: #555;
	background-color: #fff;
}

.text-white{
	color: #FFF;
	font-weight: bold;
}

.text-cyan{
	color: #01CFFF;
	font-weight: bold;
}

.table.report > tbody > tr > td,
.table.report > tbody > tr > th,
.table.report > tfoot > tr > td,
.table.report > tfoot > tr > th,
.table.report > thead > tr > td,
.table.report > thead > tr > th {
	vertical-align: middle;
	text-align: center;
}

textarea{
	color: #555;
}

div.table-responsive td{
	vertical-align:middle;
}


div#images_count,div#videos_count{
	font-weight: bold;
}

div#images_count.green,div#videos_count.green{
	color: #2ecc71;
}

div#images_count.red,div#videos_count.red{
	color: #F00;
}


.navbar-nav, #navbar, .navbar{
	/*background: url(../images/bg-h.jpg);*/
	background-color: #34495E;
}

.container-fluid{
	/*background: url(../images/bg-h.jpg);*/
	background-color: #34495E;
}

.nav.navbar-nav.navbar-right{
	background: #34495E;
	border: 2px;
	border-color: #34495E;
	border-style: solid;
}

body {
	padding-top: 0px;
}

.navbar ul.nav a {
    background: #34495E none repeat scroll 0 0;
    color: #FFF;
    font-weight: bold;
    margin: 4px;
	border-radius: 0px;
}
.navbar ul.nav a:hover{
	color: #494E51;
	background: #FFF none repeat scroll 0 0;
}

.navbar-toggle {
    background: #f0d24e none repeat scroll 0 0!important;
    border-color: #febb51 !important;
		border-style: solid !important;
		border: 2px;
}

.navbar-toggle:hover{
	background: #9b59b6 none repeat scroll 0 0!important;
}

div.row-fluid a{
	float: left;
}

.clear{
	clear:both;
}

.loading-animation img{
	padding: 0px;
	margin: 0px;
}

.row-fluid.strech{
	padding: 0px;
	margin: 0px;
}

::-webkit-scrollbar {
   -webkit-appearance: none;
}

table#scrolling-table tbody {
    display:block;
    height:300px;
    overflow:auto;
}
table#scrolling-table thead, table#scrolling-table tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
table#scrolling-table thead {
    width: calc( 100% - 1em )
}

div#modal-modifcacion{
	text-align: center;
}

div#file-upload-link-list-container div.row-fluid{
	float: left;
	height: 25px;
	margin: 0 1px 2px;
	width: 140px;
}

.clear{
	clear: both;
}

.full-line{
	width: 100%;
}

div[id^=anchor-link]{
	text-align: center;
}

div.image-center img{
	margin-left: auto;
	margin-right: auto;
}

div.image-center{
		min-width: 90%;
}

div.text-center{
	text-align: center;
}


.alert-success, 
.alert-info,
.alert-warning,
.alert-danger
{
  margin-top: 10px;
}