.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    color: #1c94c4;
    background: #fff;
}

.ui-widget-header .ui-icon {
    background-image: url("../../images/jquery-ui/ui-icons_666666_256x240.png");
}

.ui-widget-header {
    background: #f6a828 url("../../images/jquery-ui/ui-bg_gloss-wave_16_121212_500x100.png") repeat-x scroll 50% 50%;
    border: 1px solid #cccccc;
    color: #ffffff;
    font-weight: bold;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    background: #ffe45c url("../../images/jquery-ui/ui-bg_highlight-hard_15_888888_1x100.png") repeat-x scroll 50% top;
    border: 1px solid #1c94c4;
    color: #363636;
}s